USE [challengue_api]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23/01/2024 13:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 23/01/2024 13:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 23/01/2024 13:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[Profile] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthdate] [datetime] NOT NULL,
	[PhoneNumber_Personal] [nvarchar](max) NULL,
	[PhoneNumber_Work] [nvarchar](max) NULL,
	[Address] [nvarchar](50) NULL,
	[Timestamp] [timestamp] NOT NULL,
	[IdCity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (2, N'Córdoba')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (3, N'Rosario')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Company], [Profile], [Image], [Email], [Birthdate], [PhoneNumber_Personal], [PhoneNumber_Work], [Address], [IdCity]) VALUES (5, N'Pepe LuisMODI', N'Digital pepe', N'', N'otraimagen33.jpg', N'info@pepe.com.ar', CAST(N'1986-04-20T00:00:00.000' AS DateTime), N'123', N'333', N'lalala 123', 3)
INSERT [dbo].[Contacts] ([Id], [Name], [Company], [Profile], [Image], [Email], [Birthdate], [PhoneNumber_Personal], [PhoneNumber_Work], [Address], [IdCity]) VALUES (7, N'Pepe Lui3', N'Digital pepe', N'', N'otraimagen33.jpg', N'info@pepe.com.ar', CAST(N'1986-04-20T00:00:00.000' AS DateTime), N'123', N'333', N'lalala 123', 1)
INSERT [dbo].[Contacts] ([Id], [Name], [Company], [Profile], [Image], [Email], [Birthdate], [PhoneNumber_Personal], [PhoneNumber_Work], [Address], [IdCity]) VALUES (8, N'Pepe Lui4', N'Digital pepe', N'', N'otraimagen33.jpg', N'info@pepe.com.ar', CAST(N'1986-04-20T00:00:00.000' AS DateTime), N'123', N'333', N'lalala 123', 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ((0)) FOR [IdCity]
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contacts_dbo.Cities_IdCity] FOREIGN KEY([IdCity])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK_dbo.Contacts_dbo.Cities_IdCity]
GO
